<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Great Shopping</title>
  <link rel="stylesheet" type="text/css" href="footer.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>
<body>
  <!------------offer------>
  <div class="offer">
    <div class="small-container">
      <div class="row">
        <div class="col-2">
          <img src="https://imgstoragesacc.blob.core.windows.net/brandimage/sale.jpg" class="offer-img">
        </div>
        <div class="col-2">
          <p>SALE! SALE! SALE!</p>
          <h1>SALE UPTO 50% OFF</h1>

        </div>
      </div>
    </div>
  </div>
 <!------ footer------------>
  <div class="footer">
    <div class="conatiner">
      <div class="row">
        <div class="footer-col-1">
          <h3>Download our App</h3>
          <p>Download App for Android and ios mobile phone.</p>

        </div>
        <div class="footer-col-2">
          <img src="">
          <p> our purpose is to sustainably make the pleasure and benefits</p>
        </div>
        <div class="footer-col-3">
          <h3>Useful Links</h3>
          <ul>
            <li>Coupons</li>
            <li>Blog Post</li>
            <li>Return Policy</li>
            <li>Join Affiliate</li>
          </ul>

        </div>
        <div class="footer-col-3">
          <h3>Follow us</h3>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>

        </div>
      </div>
      <hr><p class="Copyright">Copyright 2020-Great Shopping</p>
    </div>
  </div>
</body>
  </html>
