<div class="navbar">
  <div class="logo"><a href="/">
  <img src="https://imgstoragesacc.blob.core.windows.net/brandimage/logo.png" width="125px"></a>
</div>
  <nav><a href="/">
  <img src="https://imgstoragesacc.blob.core.windows.net/brandimage/cart.png" width="30px" height="30px">
    </a>
  <ul>

    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/customer/login/">Login</a></li>
    <li><a routerLink="/customer/signup/">Signup</a></li>
    <li><a href="">Contact</a></li>
    <li><a href="">About</a></li>
  </ul>
</nav>
</div>
