* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins',sans-serif;
}

.small-conatiner {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product {
  margin-top: 80px;
}

.col-2-img {
  max-width: 100%;
  padding: 50px,0;
}

.col-2 a {
  margin-left: 90px;
  gap: 30px;
}

.single-product .col-2-img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2-img:hover {
  box-shadow: 5px 10px 25px #f89a66;
}

.col-2 h1 {
  font-size: 3rem;
  line-height: 60px;
  margin: 25px 0;
  margin-top: 1px;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
/*.single-product h1{

	margin:20px 0;
	font-size: 22px;
	font-weight: bold;
}*/
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #555;
}

.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}

p {
  color: #555;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 9px 60px;
  margin: 20px 20px;
  border-radius: 50px;
  transition: background 0.5s;
}

  .btn:hover {
    background: #563434;
  }

h4, h2, h3 {
  margin-bottom: 10px;
}
